<div class="search-results">
  <h2>Search Results</h2>
  <p class="search-results-count"><%= @results.count%> listings found </p>
  
  <% @results.map do |listing| %>
    <p>
      <span><%= listing.name %></span></br>
      <%= link_to "#{listing.link}", listing.link %>
    </p>
  <% end %>
</div>
