.search-results {
  @include outer-container;
  
  
  span {
    font-weight: 600;
  }
}

.search-results-count {
  color: #1F2426;
}

.search-results-count-price {
  color: #A5400B;
  font-weight: 800;
}

.listing-link {
  color: #A5400B;
}

#listings {
  @include outer-container;
  
  .listing-info {
    @include span-columns(6);
    margin-top: 2%;
    border-bottom: 1px solid grey;
  }

  .save-listing {
    @include span-columns(6);
    @include omega();
    margin-top: 2%;
  }
}

.filter .trigger {
  background-color: #A5400B;
}
