<a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">Groups</a>
<div id="tab2" class="js-vertical-tab-content vertical-tab-content">
    <p>
      <%= render partial: "user_groups"%>
    </p>
</div>