<a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">Notifications</a>
<div id="tab4" class="js-vertical-tab-content vertical-tab-content"
  ></p>Requests</p>
  </p>Invitations</p>