<div class="vertical-tab-content-container">
  <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">Profile Information</a>
  <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
    <%= image_tag(@user.image, class: "profile-picture", alt: "profile picture") %>
    <h2><%= @user.name %>
    <h2></p><%= @user.email %></p>
  </div>