<div class="vertical-tabs-container">
    <div class="vertical-tabs">
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">Profile Information</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">Groups</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">Saved Listings</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab4">Notifications</a>
    </div>
    <%= render partial: "profile_info"%>
    <%= render partial: "groups"%>
    <%= render partial: "saved_listings"%>  
    <%= render partial: "notifications"%>            
    </div>
  </div>
</div>
</br>
</br>
</br>
</br>