<div class="group-boxes">
  <div class="create-group-box box">
      <%= link_to "CREATE A GROUP", new_searching_group_path, class: "box-title" %>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>  
  </div>
  <div class="join-group-box box">
    <%= link_to "JOIN A GROUP", searching_groups_path, class: "box-title" %>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
  </div>
</div>
</br>
