<div class="locations-header">
  <h1 class="title">Groups By Location</h1>
  <h2 class="subtitle">Subtitle</h2>
</div>
</br>

<div class="locations">
  <div class="location">
    <div class="location-image">
      <img src="<%= asset_url('vail.jpg') %>" alt="" />
    </div>
    <div class="location-header">
      Vail, CO
    </div>
  </div>

  <div class="location">
    <div class="location-image">
      <img src="<%= asset_url('frisco.jpg') %>" alt="" />
    </div>
    <div class="location-header">
      Frisco, CO
    </div>
  </div>

  <div class="location">
    <div class="location-image">
      <img src="<%= asset_url('breck.jpg') %>" alt="" />
    </div>
    <div class="location-header">
      Breckenridge, CO
    </div>
  </div>
</div>