<div class="home-title">
  <h1 class="title">The <span class="home-title-words">easiest</span> way to organize seasonal <span class="home-title-words">ski houses</span></h1>
</div>
<%= render partial: "group_boxes" %>
<%= render partial: "search" %>  
<div class="space-box"></div>
<%= render partial: "locations" %>
