<div class="locations-header">
  <h1 class="title">Welcome to Crowd Chalet!</h1>
</div>

<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box">
    <h1 class="flex-title">Create a Group</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nostrum, libero! Laborum distinctio necessitatibus voluptates eaque officiis, unde illo, earum voluptatum rerum, reiciendis ipsa ex dolorem a dicta, maxime aliquam.</p>

  <a href="javascript:void(0)" class="flex-box">
    <h1>Grid Item With an Image</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
  </a>
</div>
</br>

<div>
  <%= render partial: "search" %>  
</div>
<br>
<div class="space-box">
</div>

<%= render partial: "locations" %>
