<table class="tables group-table">
  <thead>
    <tr>
      <th>Potential Houses Ranked (combines all group members rankings)</th>
    </tr>
  </thead>
  <tbody>
    <ol>
      <% @presenter.searching_group.group_listings.rank.each do |listing| %>
        <tr>
          <td> 
            <li><%= link_to listing.user_listing.name, listing.user_listing.url %></li>
          </td>
        </tr>  
      <% end %>
    </ol>
  </tbody>
</table>
</br>
<%= render partial: "user_rankings" %>
<%= render partial: "add_listings" %>

